<head>
    
    <!-- Detect Languages-->
    {% include utils/detect-language.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
    <meta name="keywords" content=" {{ active_lang }} {% if page.tags %}{{ page.tags | join: ', ' | escape }}{% endif %}">

    <meta name="color-scheme" content="dark light">

    <!--or page.sitemap == false -->
    {%- if page.url contains '404' or page.url contains "preview" %}
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta name="robots" content="noarchive">
    <meta name="robots" content="nocache">
    {%- comment -%} Inject robots tags for all 404 pages, all pages where the sitemap is false, or all pages in dev that are also in stable {%- endcomment -%}
    {%- endif -%}

    {% comment %} ADD google-site-verification {% endcomment %}

    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="canonical" href="{{ page.canonical | absolute_url }}">
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<html lang="{{ active_lang }}"></html>