<div id="header" class="position-fixed ">
    <div id="polypheny-left-header" class="header-col">
        <div id="logo-wrapper">
            <a href="/"> 
                <img class="home-logo" alt="Polypheny Logo" src="/assets/images/logos/logo-landscape.svg">
            </a> 
        </div>

        <div id="page-title">
                <h2>| {{ site.short_title }} </h2>
        </div>

    </div>
    
    <nav class="header-col">
        {% include navmenu.html %}
    </nav>

    <div class="locality header-col">
        <div id="language">
            <!-- Language Switcher -->
        </div>

        <div id="display-theme">
            <!-- Night/Day Theme Swith -->
        </div>
    </div>
</div>