<div id="header" class="position-fixed ">
    <div id="polypheny-left-header" class="header-col">
        
        <!-- Logo -->
        <div id="logo-wrapper">
            <a href="/"> 
                <img class="home-logo media-full" alt="Polypheny Logo" src="/assets/images/logos/logo-landscape.svg">
                <img class="home-logo media-600" alt="Polypheny Logo" src="/assets/images/logos/logo-symbol.svg">
            </a> 
        </div>

        <!-- Logo Seperator -->
        <div class="logo-separator">|</div>

        <!-- Page Title -->
        <div id="page-title">
            <a href="#">
                <span>{{ site.short_title | upcase }} </span>
            </a>
        </div>

    </div>
    
    <!-- NavBar -->
    <nav class="header-col">
        {% include navmenu.html %}
    </nav>

    <div id="locality" class="header-col ">
        <div id="language" class="collapse">
            <!-- Language Switcher -->
            <img alt="Language Switcher" src="/assets/images/utils/world-dark.png">
        </div>

        <div id="display-theme" class="collapse">
            <!-- Night/Day Theme Swith -->
            <img alt="Dark Mode Toggle" src="/assets/images/utils/moon-symbol.png">
        </div>
    </div>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>