<div id="header" class="position-fixed ">
    <div id="polypheny-left-header" class="header-col">
        
        <!-- Logo -->
        <div id="logo-wrapper">
            <a href="/"> 
                <img class="home-logo media-full" alt="Polypheny Logo" src="/assets/images/logos/logo-landscape.svg">
                <img class="home-logo media-600" alt="Polypheny Logo" src="/assets/images/logos/logo-symbol.svg">
            </a> 
        </div>

        <!-- Logo Seperator -->
        <div class="logo-separator">|</div>

        <!-- Page Title -->
        <div id="page-title">
            <a href="#">
                <span>{{ site.short_title | upcase }} </span>
            </a>
        </div>


        <!-- Hamburger Icon-->
        <input class="checkbox" type="checkbox" id="checkbox"/>
        <div class="hamburger">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
        </div>

    </div>
    
    
    
    <div id="polypheny-right-header" class="header-col">
        <!-- NavBar -->
        <nav class="navbar">
            {% include navmenu.html %}
        </nav>

        <div id="locality" class="header-col">
            <div id="language" class="">
                <!-- Language Switcher -->
                <img alt="Language Switcher" src="/assets/images/utils/world-dark.png">
            </div>

            <div id="display-theme" class="">
                <!-- Night/Day Theme Swith -->
                <img alt="Dark Mode Toggle" src="/assets/images/utils/moon-symbol.png">
            </div>
        </div>
</div>

</div>