<!-- Side navigation -->
<nav id="sidebarMenu">
    <div class="sidebar-wrapper col-sidebar">
        <div class="col-sidebar-content">
            <div id="searchbox" class="">
                <input type="text" placeholder="Search..">
            </div>
            <div class="sidebar">
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>

            </div>
            <div class="stiky-spacer">
            </div>
        <div>
    </div>
</nav>