<!-- Side navigation -->
<nav id="sidebarMenu" class="collapse">
    <div class="sidebar-wrapper col-sidebar collapse">
        <div class="col-sidebar-content">
            <div id="searchbox" class="">
                <form action="/search.html">
                    <input class="form-control" name="query" type="text" placeholder="Search..">
                </form>
            </div>
            <div class="sidebar">
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>
                <a href="#">Getting Started</a>
                <a href="#">Schema Model</a>
                <a href="#">Query Languages</a>
                <a href="#">Data Storage Adapters</a>
                <a href="#">Query Languages</a>
                <a href="#">Connectros & Drivers</a>
                <a href="#">Developer Guidelines</a>

            </div>
        </div>
        <div class="stiky-spacer">
        </div>
    </div>
</nav>