$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$header_height: 6em;
/***
  General HTML Styling
***/

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

  margin: 0;
  height: 100%;
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.725;
  text-align: left;
}

/* Remove formatting from links*/
a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

main {
  overflow-y: auto;  // Adds disbaled scrollbar from parent: "container" back for main content
  flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
  background-color: orange;
  z-index: 0;
  padding: 3em;
  overflow-x: hidden;  // Make parent container non-scrolable
  width: 100%; // Content Page is always filled
  position: relative;
  flex-wrap: wrap;
  
}
/***/



/***
  Entire Content Page
***/
.container {
  //display: flex; /* enables flex content for its children */
  //flex-direction: column;
  //overflow: hidden;  // Make parent container non-scrolable
  //margin: 0px;  /* removes default style */
  background-color: pink;
  width:100%;
  padding-right: 0.7em; // TO BE DELETED?!
  padding-left: 0.7em;
  margin-right: auto;
  margin-left: auto;
  }
  
/***/


/***
  General  FLEX Utilities for ROW and COLUMN Direction
***/
.column {
  display: flex;
  flex-direction: column;  /* stacks the left and right headers above the bottom content */
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.7em; // TO BE DELETED?! See .container {}
  margin-left: -0.7em; 
}
/***/



/***
  Header
***/

#header {
    height: $header_height;
    width: 100%;
    
    background-color: aqua;

    display: flex;
    flex-direction: row;
  
    flex-shrink: 0;
    
    justify-content: space-between;
    align-items: center;
    z-index: 9999; // Always show on front
    
    box-sizing: border-box;
    box-shadow: 0 -6px 10px 5px rgba(34, 34, 34, 0.5); 
}
  
#polypheny-left-header {
  display: flex;
  align-items: center;
}
  
  
.home-logo{
  width: 12em;
  margin-left: 1em;
}


#logo-wrapper{
  margin-top: 0.5em; // Small Spacing from top to align more central
}


.logo-separator{
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: #D5D8DC;
  padding-left: 0.5em;
  padding-right: 0.5em;
    
}


#page-title{
  margin-top: 0.3em; // Small Spacing from top to align more central
  font-size: 1.2rem;
  font-family: "Texta-Bold", sans-serif;
  color: #11577F;
  font-weight: 500;
}


.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}


.navbar-item{
  font-family: "Poppins",sans-serif;
  font-size: 0.95rem;
}
  

/* Navvbar animation*/
a.navbar-item{
  color: #000;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 0.75em 0em;
  margin: 0em 0.75em;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

a.navbar-item:hover{
  opacity: 1;
}

a.navbar-item::before {
  transition: 200ms;

  content: "";
  position: absolute;
  background-color: #031D44;

  height: 0%;
  width: 100%;
  bottom: 0px;
}

a.navbar-item:hover::before {
  height: 3px;
}

#locality {
  margin-right: 4em;
  display: flex;
}

#locality img{
  width: 1.5em;
  margin-left: 0.5em;
}
/****/


//Desktop
@media only screen and (min-width: 992px) {

  .home-logo{
    width: 12em;
    margin-left: 1em;
  }

  .media-full{
    display: block;
  }

  .media-600{
    display: none;
  }

  main{
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;

    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}


.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}



// Desktop
@media only screen and (min-width:  992px) {

  #sidebarMenu {
    display: block !important;
    // Take up 1/6 of the screens width
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
 
}


@media screen and (max-width: 991px){
  #sidebarMenu {
    height: auto;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    top: 108px;
    border-top: 1px solid #D6DBE7;
    border-bottom: 1px solid #D6DBE7;
    height: 60%;
    overflow: scroll;
    padding-bottom: 15px;
  }
}


// Tablet
@media only screen and (min-width: 600px) and (max-width:  992px) {

  
  .media-600{
    display: none;
  }

  .collapse{
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 1em;

  }
 

}


// Phone
@media only screen and (max-width: 600px) {


  .media-full{
    display: none;
  }

  .media-600{
    display: block;
    width: 4em;
    margin-left: 1em;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 1em;
  }

  .collapse{
    display: none;
  }

  // Footer
  .site-footer{
    background-color:gray;
  
    padding-left: 2em;
    padding-right: 2em;
  }
}


@media (min-width: 576px){
  main {
    margin-left: auto !important;
  }
}


/***
  Content beneath Header
***/
#maincontent {
  position: relative;
  padding-top: 6em;
}





/**
**
  SIDEBAR NAVIGATION
**
**/

#sidebarMenu{
 
  padding-right: 0 !important;
  padding-top: 1rem !important;
  border-right: 1px solid#D5D8DC;


  position: relative;
  width: 100%;
  padding-left: 0.8em;

  
  background-color: yellow;
  z-index: 999;
}


.col-sidebar {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.col-sidebar .col-sidebar-content {
  flex: 0 1 auto;
}

.col-sidebar-content {
  top: $header_height+1em; //  $header_height of header offest +1 to keep sidebar from wobbling
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
}


#searchbox {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-bottom: 1rem !important;

}

.sidebar{
  width: 100%;
  padding: 0.75em 0 0.25em 1em;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: normal;
  padding-top: 0 !important;
  flex-wrap: wrap;

  margin-bottom: 0;
  list-style: none;
  line-height: 22.6px;

}

.col-sidebar .stiky-spacer {
  flex: 1 1 auto;
}

/* Utilities*/

.position-fixed {
  position: fixed !important;
}


/**
**
  FOOTER 
**
**/
.site-footer{
  background-color:gray;

  padding-left: 15em;
  padding-right: 15em;

  
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  align-items:left;
  z-index: 0; // Always show on front

}

.footer-heading{
  font-size: 1.4em;
  font-weight: 700;
  padding-top: 1em;
  margin-bottom: -0.75em;

  
}

.flex-start{
}


.footer-col-wrapper{
  flex: 1 1 auto;
}


.footer-col{
  display: flex;
  flex-direction: column;  /* stacks the left and right headers above the bottom content */
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  flex: 0 0 16.6666666667%;
  

}


.footer-col-heading{
  font-size: 1.1em;
  font-weight: 550;
}

.footer-col > ul {
  padding-left: 0;
}

// Socials Sytling 
.social-logo {
  width: 1.5em;
}

ul.social-media-list {
  list-style: none;
  
  
}
ul.social-media-list > li{
  padding: 0.5em;
  
}

#copyright{
  font-size: 0.9em;
}
/****/