$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

/* Clear formatting*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

}

/* Remove formatting from links*/
a {
  color: inherit;
  text-decoration: none;
}

main {
  overflow-y: auto;  // Adds disbaled scrollbar from parent: "container" back for main content
  flex-grow: 0;  /* ensures that the container will take up the full height of the parent container */
  background-color: orange;
  z-index: 0;
  padding: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;  // Make parent container non-scrolable
  margin: 0px;  /* removes default style */
  display: flex;  /* enables flex content for its children */
  background-color: pink;
}


#mid-area {
  display: flex;
  flex-direction: row;

  margin-top: 6em;
}


#header {
  height: 6em;
  width: 100%;
  background-color: aqua;

  display: flex;
  flex-direction: row;

  flex-shrink: 0;
  
  justify-content: space-between;
  align-items: center;
  z-index: 9999; // Always show on front
  
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);

  
}

#polypheny-left-header {
  display: flex;
  align-items: center;
}



.home-logo{
  width: 15em;
  
}

#logo-wrapper{
  margin-top: 1em; // Small SPacing from top to align more central
}



.column {
  display: flex;
  flex-direction: column;  /* stacks the left and right headers above the bottom content */
}


ul {
  display: flex;
  list-style: none;
}

#sidebarMenu{
  display: flex;
  min-height: 100%;
  flex-direction: column;  /* stacks the left and right headers above the bottom content */

  overflow-y: auto;  // Adds disbaled scrollbar from parent: "container" back for main content

  background-color: yellow;
  width: 20em;  
  z-index: 999;
  flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
    
  //align-items: center;

}

/* Style the search box inside the navigation bar */
#sidebarMenu input[type=text] {
  float: right;
  padding: 0.5em;
  padding-left: 1em;
  
  margin: 1em;
  font-size: 17px;
}


.sidebar{
  padding: 1em;
  

}

.border-right {
  border-right: 100px solid #D6DBE7 !important;
}

.position-fixed {
  position: fixed !important;
}

.site-footer{
  background-color:gray;

  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0; // Always show on front
}

// Socials Sytling 

.social-logo {
  width: 1.5em;
}

ul.social-media-list {
  list-style: none;
}
