---
layout: default
---

<h1>{{ page.title }}</h1>

{% unless page.homepage %}
  {% if page.version %}
   {% comment %} {% include version-switcher.html %}{% endcomment %}
  {% endif %}
{% endunless %}

{% comment %} Show the version switcher only if 1) the current page has a version and 2) the current page isn't the home page of the docs. {% endcomment %}



{% comment %} If the page supports it, show the contribution options. {% endcomment %}

<div class="post-content">
    {% comment %}
    TOC LEVEL: By default, a page TOC includes h2 and h3 headers. To limit a
    page TOC to h2 headers only, set `toc_not_nested: true` in the page's
    front-matter.
    {% endcomment %}
    {% if page.toc %}
      
      <div id="toc-wrapper">
        <div class="toc-heading">
          On this page
        </div>
        <div class="toc-content">
          {{ content | toc_only }}
        </div>
      </div>
    {% endif %}
    
 
    {{ content | inject_anchors }}
    
    </div>